.questionsThemselves {
  width: auto;
}

.greenButton {
  margin-top: 20px;
  background: var(
    --text-icons-gradient-sber,
    linear-gradient(94deg, #19d13b 6.49%, #05c1f5 93.51%)
  );
}
.answerLabel {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  margin-left: 8px;
}

.answerText {
  margin-left: 8px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.question {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px 0;
}

.answers {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
