* {
  font-family: "SB Sans Text";
}

#root {
  width: 300px;
  font-family: "SB Sans Text";
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
  flex-direction: column;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}
