* {
  font-family: "SB Sans Text";
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
  flex-direction: column;
  padding: 0 20px;
  text-align: center;
}

.App {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

@media screen and (min-width: 650px) {
  #root {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
  }
}

body {
  margin: 0 auto;
}
