* {
  font-family: "SB Sans Text";
}

#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem; */
  width: 100wh;
  font-family: "SB Sans Text";
  text-align: center;
}

.App {
  display: flex;
}
